# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Image files
*.img
*.iso

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app
*.elf
*.bin
cmake-build-debug/
ELF_BIN/
OVMF/
src/fs/Epoch-RAM-Disk-Generator/.idea/
src/fs/Epoch-RAM-Disk-Generator/cmake-build-release/
src/proc/dwm/.idea/
.idea/
e
